.imageMain {
  padding-top: 250px;
  hr {
    margin-bottom: 20px;
  }
}

section {
  margin-bottom: 10%;
}

.descText {
  display: flex;
  justify-content: center;
  p,
  a {
    font-size: 1.8rem;
  }
  p {
    width: 80%;
  }
}

.carousel {
  height: 100%;
  margin-bottom: 5%;
}

.carousel-cell {
  width: 75%;
  margin-right: 10px;
  counter-increment: carousel-cell;
}

/* gallery focus */
.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}