header {
  position: relative;
}

#navScroll {
  border: 1px solid coral;
  background-color: $white;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

#logoContainer {
  border: 1px solid coral;
  display: flex;
  flex-direction: column;
  max-height: 25px;
  max-width: 54px;
  .logo {
    background-color: $white;
    // border: 1px solid coral;
    margin: 0;
    position: absolute;
    max-height: 23px;
  }
  .logo1 {
    top: 20px;
    z-index: 50;
  }
  .logo2 {
    top: 43px;
    z-index: 40;
  }
  .logo3 {
    top: 67px;
    z-index: 30;
  }
  .logo4 {
    top: 91px;
    z-index: 20;
  }
  .logo5 {
    top: 115px;
    z-index: 10;
  }
}

.mainMenu {
  border: 1px solid coral;
  display: flex;
  margin: 0;
  a {
    color: $black;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: color .25s ease;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $volt;
    }
  }
}
