header {
  position: relative;
}

#navScroll {
  border: 1px solid coral;
  background-color: $white;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

#logoContainer {
  display: flex;
  flex-direction: column;
  max-height: 25px;
  max-width: 54px;
  .logo {
    background-color: $white;
    border: 1px solid coral;
    margin: 0;
    position: absolute;
    max-height: 23px;
  }
  .logo1 {
    top: 20px;
    z-index: 50;
  }
  .logo2 {
    top: 44px;
    z-index: 40;
  }
  .logo3 {
    top: 68px;
    z-index: 30;
  }
  .logo4 {
    top: 92px;
    z-index: 20;
  }
  .logo5 {
    top: 116px;
    z-index: 10;
  }
}

.mainMenu {
  display: flex;
  margin: 0;
  a {
    color: $black;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $volt;
    }
  }
}

hr {
  border-top: 1px solid $black;
  margin: 10px 0;
}

.aboutFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 18%;
  margin-bottom: 5%;
}

.introFlex {
  width: 60%;
  h2,
  h3,
  span {
    width: 100%;
    text-transform: none;
    line-height: 3rem;
    font-size: 2.5rem;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
  p {
    margin-bottom: 12px;
    line-height: 2.75rem;
  }
  a {
    color: $black;
    font-size: 2rem;
    line-height: 2.75rem;
    font-family: $bodyFont;
    &:hover,
    &:focus {
      color: $volt;
    }
  }
  ul {
    margin: 0 0 16px 0;
    padding-left: 0;
    li {
      font-family: $bodyFont;
      font-size: 2rem;
      
      p {
        margin-bottom: 3px;  
        display: flex;
        flex-direction: row;
        align-items: center;
        &::before {
          background-color: $black;
          content: "";
          display: flex;
          flex-direction: row;
          height: 6px;
          margin-right: 6px;
          width: 6px;
        }
      }
    }
  }
}

.contactFlex {
  display: flex;
  flex-direction: column;
  margin: 0;
  li {
    width: 50px;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
