header {
  position: relative;
}

#topBlock {
  width: 10%;
  height: 162%;
  background-color: $white;
  position: absolute;
  z-index: -20;
  top: 3%;
  left: 21%;
  transition: 4s;
}

#devBlock {
  width: 22%;
  height: 32%;
  background-color: $white;
  position: absolute;
  z-index: -20;
  top: 310%;
  right: 0%;
  transition: 6s;
}

#bottomBlock {
  width: 30%;
  height: 27%;
  background-color: $white;
  position: absolute;
  z-index: -20;
  top: 510%;
  left:74.5%;
  transition: 3s;
}

#navScroll {
  background-color: $white;
  border-bottom: 2px solid $black;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 0 40px 0;
  position: fixed;
  top: 0;
  transition: 0.25s ease-in-out;
  z-index: 10;
}

#logoContainer {
  transition: 0.25s ease-in-out;
  width: 30%;
}

.mainMenu {
  display: flex;
  margin: 0;
  a {
    color: $black;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $volt;
    }
  }
}

hr {
  border-top: 1px solid $black;
  margin: 10px 0;
}

.aboutFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 18%;
  margin-bottom: 5%;
}

.introFlex {
  width: 60%;
  h2,
  h3,
  span {
    width: 100%;
    text-transform: none;
    line-height: 3rem;
    font-size: 2.5rem;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
  p {
    margin-bottom: 12px;
    line-height: 2.75rem;
  }
  a {
    color: $black;
    font-size: 2rem;
    line-height: 2.75rem;
    font-family: $bodyFont;
    &:hover,
    &:focus {
      color: $volt;
    }
  }
  ul {
    margin: 0 0 16px 0;
    padding-left: 0;
    li {
      font-family: $bodyFont;
      font-size: 2rem;
      
      p {
        margin-bottom: 3px;  
        display: flex;
        flex-direction: row;
        align-items: center;
        &::before {
          background-color: $black;
          content: "";
          display: flex;
          flex-direction: row;
          height: 6px;
          margin-right: 6px;
          width: 6px;
        }
      }
    }
  }
}

.contactFlex {
  display: flex;
  flex-direction: column;
  margin: 0;
  li {
    width: 50px;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
