// -----------------
// TOOLKIT
// -----------------

.toolkit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 30px;
  li {
    width: 120px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 30px;
    p {
      font-size: 1.2rem;
      color: $darkPurple;
    }
  }
}

.toolkitContainer {
  margin-top: 15%;
}

// -----------------
// PORTFOLIO
// -----------------

.portfolioContainer {
  display: flex;
  flex-direction: row;
  margin: 72px 0;
  justify-content: space-around;
}

.portfolioCard {
  margin: 0 auto;
  max-width: 500px; 
  padding: 0 16px;
  h3 {
    font-size: 22px;
  }
}

.portfolioCardContents {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  border: 1px solid $primaryPurple;
  background-color: coral;
  display: block;
}

.portfolioCardInfo {
  width: 16px;
  height: 16px;
  background-color: $primaryPurple;
  position: absolute;
  bottom: 102.5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.portfolioCardDesc {
  position: absolute;
  top: 0;
  margin:10% auto;
  text-align: center;
  opacity: 0;
  color: white;
  display: none;
}

// -----------------
// PROJECTS
// -----------------
.projectFlex {
  display: flex;
  margin-bottom: 7%;
  p,
  a {
    font-size: 1.8rem;
    line-height: 2.75rem;
  }
  h4 {
    font-size: 2.2rem;
    &:hover,
    &:focus {
      color: $darkPurple;
    }
  }
  p,
  h4 {
    padding: 0 0 0 50px;
    margin-bottom: 20px;
  }
  a {
    color: $primaryPurple;
    &:hover,
    &:focus {
      color: $darkPurple;
    }
  }
}

.gateway,
.writeOn {
  flex-direction: row-reverse;
  p,
  h4 {
    padding: 0 50px 0 0;
  }
}

.txtContainer {
  width: 50%;
  p:first-of-type {
    padding-top: 70px;
  }
}

.projectImg {
  width: 50%;
  imgContainer {
    img {
      margin-top: 15px;
    }
  }
  hr {
    margin: 10px 0 40px 0;
  }
}



#other {
  h4 {
    text-align: center;
    &:hover,
    &:focus {
      color: $darkPurple;
    }
  }
}

footer {
  padding-top: 5%;
}

.footerFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .contactFlex {
    display: flex;
    flex-direction: row;
  }
}