// -----------------
// PORTFOLIO
// -----------------
#design,
#webDev {
  margin-top: 100px;
  position: relative;
}

.portfolioContainer {
  display: flex;
  flex-direction: row;
  margin: 72px 0;
  justify-content: space-around;
}

.portfolioBlurb {
  margin: 8px 0;
}

.portfolioCard {
  max-width: 500px; 
  h3 {
    font-size: 22px;
  }
  .modal-open {
    background: none;
    border: none;
    cursor: pointer;
    padding: none;
  }
}

.portfolioCardContents {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  border: 1px solid $black;
  display: flex;
  // padding: 50px;
}

.portfolioCardInfo {
  width: 16px;
  height: 16px;
  background-color: $volt;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolioCardDesc {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: auto;
  text-align: center;
  opacity: 0;
  color: white;
  display: none;
  padding: 0 5%;
  font-size: 1.75rem;
  margin-left: auto;
  margin-right: auto;

  h4 {
    color: $black;
    padding-bottom: 4px;
  }

  p {
    font-family: $bodyFont;
    color: $black;
    &:first-child {
      padding-bottom: 20px;
    }
  }
}

.portfolioCardDescMobile {
  display: none;
}

// -----------------
// DESIGN MODALS
// -----------------

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  bottom: 0;
  right: 0;
  background-color: $white;
  height: 90%;
  padding: 30px 120px 30px 70px;
  width: 70vw;
  overflow-y: scroll;
  transform: translateY(-50%);
  img {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.025);
  }
  video {
    margin-top: 10px;
    max-width: 100%;
  }
  .dtVideo {
    max-width: 50%;
  }
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// -----------------
// ARTIFACTS
// -----------------

.artifactContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 72px 0;
  justify-content: space-around;
}

.artifact {
  width: 30%;
  margin-bottom: 48px;
  max-width: 500px;
}

// -----------------
// DEV PROJECTS
// -----------------
.projectContainer {
  display: flex;
  margin: 72px 0 0;
}

.projectFlex {
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
  padding: 0 16px;
  p,
  a {
    font-size: 1.8rem;
    line-height: 2.75rem;
  }
  h3 {
    margin-bottom: 16px;
  }
  h4 {
    font-size: 2.2rem;
    &:hover,
    &:focus {
      color: $volt;
    }
  }
  p {
    margin-bottom: 20px;
  }
  a {
    color: $black;
    &:hover,
    &:focus {
      color: $volt;
    }
  }
}

.projectImg {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
}

footer {
  padding-top: 5%;
}

.footerFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .contactFlex {
    display: flex;
    flex-direction: row;
  }
}