.projectFlex {
  display: flex;
  margin-bottom: 5%;
  p,
  a {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 2.2rem;
    &:hover,
    &:focus {
      color: $darkPurple;
    }
  }
  p,
  h4 {
    padding: 0 0 0 50px;
    margin-bottom: 20px;
  }
  a {
    color: $primaryPurple;
    &:hover,
    &:focus {
      color: $darkPurple;
    }
  }
}

#gateway {
  flex-direction: row-reverse;
  p,
  h4 {
    padding: 0 50px 0 0;
  }
}

#writeOn {
  margin-bottom: 0;
  flex-direction: row-reverse;
  p,
  h4 {
    padding: 0 50px 0 0;
  }
}

.txtContainer {
  padding-top: 60px;
}

.projectImg {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  img {
    margin-top: 15px;
  }
}

.toolkitContainter {
  padding-top: 5%;
}

.toolkit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  // padding-top: 10%;
  li {
    width: 120px;
    text-align: center;
    p {
      font-size: 1.2rem;
      color: $darkPurple;
    }
  }
}

#design {
  h4 {
    text-align: center;
    &:hover,
    &:focus {
      color: $darkPurple;
    }
  }
}

.designItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.designContainer {
  max-width: 380px;
}

footer {
  padding-top: 5%;
}

.footerFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .contactFlex {
    display: flex;
    flex-direction: row;
  }
}