@media(max-width:$tabletHorizontal) {
  .aboutFlex {
    padding-top: 25%;
  }
}

@media(max-width:$desktopSmall) {
  .mainMenu {
    flex-direction: column;
  }
  .aboutFlex {
    padding-top: 27%;
  }
  .projectFlex {
    flex-direction: column;
    margin: 28px 0;
  }
  .txtContainer {
    h4 {
      font-size: 1.75rem;
    }
  }
  .txtContainer,
  .projectImg {
    width: 100%;
  }

  .archive,
  .writeOn {
    margin-top: 48px;
  }

  .designItems {
    justify-content: center;
  }

  .designContainer {
    max-width: 350px;
    margin: 15px;
  }
}

@media(max-width:$tabletVertical) {
  .wrapper {
    h2 {
      font-size: 2.75rem;
    }
  }
  .mainMenu {
    a {
      font-size: 2rem;
    }
  }
  .introFlex {
    width: 100%;
    h3 {
      width: 100%;
      padding-top: 10px;
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
  .toolkit {
    li {
      width: 85px;
      margin: 0 5px;
    }
  }

  .portfolioCard {
    padding: 0;
  }

  .portfolioContainer {
    flex-direction: column;
    margin: 64px 0;
    &:first-child {
      margin: 28px 0;
    }
  }

  .portfolioCardContents {
    flex-direction: column;
  }

  .portfolioCard {
    &:first-child {
      margin-bottom: 64px;
    }
  }

  .portfolioCardInfo {
    display: none;
  }

  .portfolioCardDescMobile {
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;

    p {
      margin-top: 18px
    }
  }

  .projectImg {
    margin-bottom: 16px;
    border: 1px solid $primaryPurple;

    .imgContainer {
      display: flex;
    }
  }
}

@media(max-width:$mobileVertical) {
  p {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .mainMenu {
    // background-color: #f5f4f4;
    position: fixed;
    top: 11%;
    flex-direction: row;
    padding: 5px 0;
    a {
      font-size: 1.75rem;
      padding: 5px;
      margin: 0 auto;
    }
  }
  .introFlex {
    width: 100%;
    h3 {
      width: 100%;
      padding-top: 10px;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  .contactFlex {
    padding-left: 15px;
  }
  .aboutFlex {
    padding-top: 45%;
  }
  .txtContainer {
    p {
      &:first-of-type {
        padding-top: 30px
      }
    }
  }
  .footerFlex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    p {
      padding: 0 10px;
    }
    .contactFlex {
      padding: 15px 0;
    }
  }
  .imageMain {
    padding-top: 160px;
  }
  .carousel {
    margin-bottom: 20%;
  }

  .portfolioContainer {
    flex-direction: column;
    margin: 64px 0;
  }

  .portfolioCardContents {
    flex-direction: column;
  }

  .portfolioCard {
    &:first-child {
      margin-bottom: 64px;
    }
  }

  .portfolioCardInfo {
    display: none;
  }

  .portfolioCardDescMobile {
    display: flex;
    flex-direction: column;
    p {
      margin-top: 18px
    }
  }
}
