// colours 
$volt: #DCF217;
$black: #000000;
$white: #FFFFFF;
$lightGrey: #D0D2D3;

// typefaces
$primaryFont: "ocr-a-std", monospace;
$bodyFont: sans-serif;

// MQ screen widths
$tabletHorizontal: 1145px;
$desktopSmall: 900px;
$tabletVertical: 768px;
$mobileHorizontal: 667px;
$mobileVertical: 450px;
$mobileSmall:360px;

// Animations
$underlineAni: all 0.2s ease-in-out;