// colours 
$volt: #DCF217;
$black: #000000;
$white: #FFFFFF;
$lightGrey: #CBCBCB;

// typefaces
$primaryFont: "ocr-a-std", monospace;
$bodyFont: "gira-sans", sans-serif;

// MQ screen widths
$desktopSmall: 1235px;
$tabletHorizontal: 1080px;
$tabletVertical: 850px;
$mobileHorizontal: 667px;
$mobileVertical: 450px;
$mobileSmall:360px;

// Animations
$underlineAni: all 0.2s ease-in-out;