// colours 
$primaryPurple: #59576d;
$darkPurple: #10112f;
$lightGrey: #D0D2D3;
$darkGrey: #A6A8AB;
$bgGrey: #ebebeb;

// typefaces
$primaryFont: 'Montserrat', sans-serif;
$bodyFont: 'Roboto Slab', serif;

// MQ screen widths
$tabletHorizontal: 1145px;
$desktopSmall: 900px;
$tabletVertical: 768px;
$mobileHorizontal: 667px;
$mobileVertical: 450px;
$mobileSmall:360px;